<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body class="bg-[#212121] w-full h-screen flex justify-center items-center">
    <%if(error_msg && error_msg.length> 0){%>
        <div class="bg-[brown] text-white px-5 py-2 rounded absolute top-10">
            <%=error_msg%>
        </div>
    <%}%>

    <div class="w-[30%] rounded-lg shadow-[0_0_5px] shadow-[gray] p-10">
        <p class="flex justify-between items-center font-bold text-[purple] text-4xl">Change Your Password <a href="/dashbord"><span class="w-[100px] h-[30px] flex justify-center items-center text-sm rounded bg-[purple] text-black cursor-pointer">Dashbord</span></a></p>
        <form action="/changePassData" method="post" class="flex flex-col items-start">
            <label for="" class="mt-10 text-white">Old Password</label>
            <input type="text" name="oldPassword" placeholder="Enter old password" class="border border-[gray] w-full h-[40px] rounded ps-5 text-white mt-1">
            <label for="" class="mt-5 text-white">New Password</label>
            <input type="text" name="newPassword" placeholder="Enter new password" class="border border-[gray] w-full h-[40px] rounded ps-5 text-white mt-1">
            <label for="" class="mt-5 text-white">Confirm Password</label>
            <input type="text" name="confirmPassword" placeholder="Enter confirm password" class="border border-[gray] w-full h-[40px] rounded ps-5 text-white mt-1">
            <input type="submit" class="border border-white mt-10 bg-[purple] text-white w-[100px] h-[40px] rounded cursor-pointer">
        </form>
    </div>
</body>
</html>